* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

/* Reusable Classes*/

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.text {
  line-height: 21.78px;
  letter-spacing: 0.94px;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 1.2rem 3.4rem;
  border-radius: 10.9rem;
  line-height: 16.94px;
  font-size: 1.4rem;
}

a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
  color: #3cab90;
}

.link_icon {
  width: 2rem;
  height: 2rem;
  stroke: #3cab90;
}
